<% votes = true if !defined?(votes) || votes.nil? %>

<div id="question_<%= question.id %>" class="question">
  
  <div class="votes_container">
    <% if votes %>
      <div class="question_vote" data-count="<%= question.up_votes.count %>">
        <%= form_tag(question_vote_path(id: question.id), remote: true) do %>
        <%= hidden_field_tag :vote_type, "up" %>
        <%= submit_tag "", :class => "btn primary", :onClick => "$(this).attr('disabled', 'disabled');" %>
        <% end %>
      </div>
    <% end %>

	<%= link_to "X", hide_question_url(:id => question.id), :remote => true, :onclick => "$('#question_#{question.id}').hide()" %>

    <div class="question_vote_num">
      <%= question.votes.count %>
    </div>

    <div class="question_vote_title">
      Votes
    </div>
  </div>

  <div class="question_body">
    <div class="question_content">
      <%= question.content %>
    </div>
    <div class="question_time">
      Asked
      <%= time_ago_in_words(question.created_at) %>
      ago
    </div>
  </div>
</div>