<% content_for(:head) do %>
  <%= stylesheet_link_tag "vibes" %>
  <%= stylesheet_link_tag "ask_container" %>
  <%= stylesheet_link_tag "question" %>
  <%= stylesheet_link_tag "students" %>
<% end %>

<script type="text/javascript">
 function refreshListeners()
 {
	$.getJSON('<%= poll_listeners_url(@room.id) %>', function(data) {
      $.each($('span.listeners'), function(index, element) { 
		var numListeners = parseInt(element.innerHTML);
		var curListeners = parseInt(data.listeners);
		element.innerHTML = curListeners;
		console.log(element)
		if (numListeners != curListeners) {
			$(element).effect("highlight", {}, 3000);
		}
	  });
	});
 }
 setInterval("refreshListeners();", 10000);
 function updateQuestions() {
   var room_id = $('#room').attr('data-id');
   var page = $('#questions').attr('data-page');
   var sorting = $('#questions').attr('data-sort');
   var teacher = $('#teachers_view').length > 0;
   if (!page) {
     $.getScript('/questions/' + sorting + '.js?room_id=' + room_id + "&page=" + page + "&teacher=" + teacher);
   };
   setTimeout(updateQuestions, 5000);
 }
 setTimeout(updateQuestions, 5000);
</script>
<div id="room" data-id="<%= @room.id %>">
  <div id="students_view" class="inner_container">
    <div id="students_header">
      <div id="room_name">
        <%= @room.name %>
      </div>
      <div id="num_listeners">
        <span class="listeners">
          <%= @room.num_listeners %>
        </span>
        people in room
      </div>
    </div>
  
    <div id="action_panel">
      <%= render :partial => "vibes/buttons", :locals => {:room => @room} %>
      <%= render :partial => "questions/ask", :locals => {:room => @room} %>
    </div>
  
    <div id="other_questions">
      <%= render :partial => "questions/widget", :locals => {:questions => @questions}%>
    </div>
  </div>
</div>