<% content_for(:head) do %>
  <%= stylesheet_link_tag "vibes" %>
  <%= stylesheet_link_tag "ask_container" %>
  <%= stylesheet_link_tag "question" %>
  <%= stylesheet_link_tag "students" %>
<% end %>
<div id="room" data-id="<%= @room.id %>">
  <div id="students_view" class="inner_container">
    <div id="students_header">
      <div id="room_name">
        <%= @room.name %>
      </div>
      <div id="num_listeners">
        <span class="listeners">
          <%= pluralize(@room.num_listeners, "person") %>
        </span>
        in room
      </div>
    </div>
  
    <div id="action_panel">
      <%= render :partial => "vibes/buttons", :locals => {:room => @room} %>
      <%= render :partial => "questions/ask", :locals => {:room => @room} %>
    </div>
  
    <div id="other_questions">
      <%= render :partial => "questions/questions", :locals => {:questions => @questions}%>
    </div>
  </div>
</div>