<ul id="rooms">
	<% @room_manager.rooms.each do |room_id, room| %>
		<li>
			
			<table>
				<tr><th>Name</th><td><%= room.name %></td></tr>
				<tr><th>Speaker</th><td><%= room.speaker.inspect %></td></tr>
				<tr>
					<th>Audience</th>
					<td>
						<ul>
							<% (room.audience || []).each do |user| %>
								<li><%= user.inspect %></li>
							<% end %>
						</ul>
					</td>
				</tr>
				<tr>
					<th>Poll</th>
					<td>
						<ul>
							<% (room.poll || {}).each do |user_id, answer| %>
								<li><%= "#{user_id} : #{answer}" %></li>
							<% end %>
						</ul>
					</td>
				</tr>
			</table>

			<%= form_tag room_push_url do %> 
				<%= hidden_field_tag(:room_name, room.name) %>
				Push Hash <%= text_field_tag(:raw_hash, '', :size => 150) %>
			<% end %>
		</li>
	<% end %>
</ul>