<%= content_for(:head) do %>
  <%= javascript_include_tag 'highcharts' %>
  
  <%= stylesheet_link_tag "question" %>
  <%= stylesheet_link_tag "teachers" %>
<% end %>


<script type="text/javascript">
 function refreshListeners()
 {
	$.getJSON('<%= poll_listeners_url(@room.id) %>', function(data) {
      $.each($('span.listeners'), function(index, element) { 
		var numListeners = parseInt(element.innerHTML);
		var curListeners = parseInt(data.listeners);
		element.innerHTML = curListeners;
		console.log(element)
		if (numListeners != curListeners) {
			$(element).effect("highlight", {}, 3000);
		}
	  });
	});
 }
 setInterval("refreshListeners();", 5000);
</script>

<div id="teachers_view">
  <div id="teachers_header">
    <div id="room_name">
      <%= @room.name %>
    </div>
    <div id="num_listeners">
      <%= pluralize(@room.num_listeners, "person") %>
      in room
    </div>
  </div>

  <%= render_vibe_chart(@room) %>
  
  <div id="questions">
    <%= render :partial => "questions/question", :collection => @questions %>
  </div>
</div>