<%= javascript_include_tag 'highcharts' %>

<h1>Room</h1>

ID: <%= @room.id %>
<br>
Name: <%= @room.name %>
<br>
Teacher URL: <%= link_to teachers_view_url(@room.id), teachers_view_url(@room.id) %>
<br>
Student URL: <%= link_to students_view_url(@room.id), students_view_url(@room.id) %>
<br>
