<%= javascript_include_tag 'question' %>
<script type="text/javascript">
function updateQuestions() {
   var room_id = $('#room').attr('data-id');
   var page = $('#questions').attr('data-page');
   var sorting = $('#questions').attr('data-sort');
   var teacher = $('#teachers_view').length > 0;
   if (!page) {
     $.getScript('/questions/' + sorting + '.js?room_id=' + room_id + "&page=" + page + "&teacher=" + teacher);
   };
   setTimeout(updateQuestions, 5000);
 }
 setTimeout(updateQuestions, 5000);
 </script>
<div id="room" data-id="<%= @room.id %>">
  <h1><%= @room.name %></h1>
  <%= render :partial => "questions/widget" %>
</div>

<h1>Room</h1>

<% if flash[:success] %>
	<p><%= flash[:success] %></p>
<% elsif flash[:error] %>
	<p><%= flash[:error] %></p>
<% end %>

<%= render_vibe_chart(@room) %>

ID: <%= @room.id %>
<br>
Name: <%= @room.name %>
<br>
Teacher URL: <%= link_to teachers_view_url(@room.id), teachers_view_url(@room.id) %>
<br>
Student URL: <%= link_to students_view_url(@room.id), students_view_url(@room.id) %>
<br>
<div class="listeners">Listeners: <span class="listeners"><%= @room.num_listeners %></span></div>
<br>
Status: <%= @room.finished? ? "This room has finished." : "This room is currently active." %>

<% if !@room.finished? %>
	<%= button_to "Finished", finish_room_url(@room.id) %>
<% end %>