<!DOCTYPE html>
<html>
<head>
  <title>Room - Feedforward</title>
  
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "room" %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "room" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
