<!DOCTYPE html>
<html>
<head>
  <title>Speaker - Feedforward</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "speaker" %>
  
  <%= javascript_include_tag "speaker" %>
  <%= javascript_include_tag "speaker" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
